
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
*.log
[Bb]in
obj/
[Dd]ebug*/
[Rr]elease/
*.lib
*.sbr
_ReSharper*/
[Tt]est[Rr]esult*
lt_site*.*
ErrorLog.db
*.orig
Sinerji.debug.js
Sinerji.js
